<!DOCTYPE html>
<html lang="fr">
<head>
  <link href="/favicon.png" rel="shortcut icon" type="image/png"/>
  <link href="/bootstrap.min.css" rel="stylesheet">
  <link href="/bootstrap-icons.css" rel="stylesheet">
  <meta charset="UTF-8"/>
  <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
  <style>
    html {
      height: 100%;
    }
  </style>
  <title>Digital Léman Calendar</title>
</head>
  <body class="h-100">
    <div class="container h-100 m-0 mw-100">
      <%- include('chataigniers/events'); %>
    </div>
  </body>
</html>