      <div class="row">
        <div class="col-12">
          <section class="ds-section">
                <div class="_ds-section text">Les modifications apportées au planning seront visibles demain dans Google Calendar</div>
          </section>
        </div>
      </div>
    </div>
    <footer class="ds-footer">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="_ds-footer copyright">
              © 2023 Quentin Burgniard
            </div>
          </div>
        </div>
      </div>
    </footer>
    <div class="ds-menu z-index-medium" id="ds-menu">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <a alt="Ajout rapide" class="ds-link" href="/chataigniers/new">
              <div class="_ds-link caption-icon">
                <i class="bi bi-calendar-plus"></i>
              </div>
              <div class="_ds-link body">
                <div class="_ds-link title">Ajout rapide</div>
              </div>
              <div class="_ds-link action-icon">
                <i class="bi bi-chevron-right"></i>
              </div>
            </a>
            <% let startDate = new Date();
            startDate.setMonth(startDate.getMonth() - 1, 1);
            let endDate = new Date();
            endDate.setMonth(endDate.getMonth(), 0);
            for (let i = 0; i < 4; i++) { %>
              <a alt="Modifier" class="ds-link" href="/chataigniers?startDate=<%= `${startDate.toLocaleDateString('fr', { year: 'numeric' })}-${startDate.toLocaleDateString('fr', { month: '2-digit' })}-${startDate.toLocaleDateString('fr', { day: '2-digit' })}` %>&endDate=<%= `${endDate.toLocaleDateString('fr', { year: 'numeric' })}-${endDate.toLocaleDateString('fr', { month: '2-digit' })}-${endDate.toLocaleDateString('fr', { day: '2-digit' })}` %>">
                <div class="_ds-link body">
                  <div class="_ds-link title">Modifier <%= startDate.toLocaleDateString('fr', { month: 'long' }) %></div>
                </div>
                <div class="_ds-link action-icon">
                  <i class="bi bi-chevron-right"></i>
                </div>
              </a>
              <% startDate.setMonth(startDate.getMonth() + 1, 1);
              endDate.setMonth(endDate.getMonth() + 2, 0);
            } %>
          </div>
        </div>
      </div>
    </div>
    <div class="ds-toasts z-index-medium" id="ds-toasts">
      <div class="container">
        <div class="row">
        </div>
      </div>
    </div>
    <div class="ds-background z-index-low" id="ds-background"></div>
    <script src="https://ds.digitalleman.com/index.js"></script>
    <script src="/index.js"></script>
  </body>
</html>