    </div>
    <!-- <footer class="ds-footer">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="_ds-footer copyright">
              © 2023 Quentin Burgniard
            </div>
          </div>
        </div>
      </div>
    </footer> -->
    <div class="ds-menu z-index-medium" id="ds-menu">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <a alt="Ajout rapide" class="ds-link" href="/chataigniers/new">
              <div class="_ds-link caption-icon">
                <i class="bi bi-calendar-plus"></i>
              </div>
              <div class="_ds-link body">
                <div class="_ds-link title">Ajout rapide</div>
              </div>
              <div class="_ds-link action-icon">
                <i class="bi bi-chevron-right"></i>
              </div>
            </a>
            <a alt="Modifier" class="ds-link" href="/chataigniers">
              <div class="_ds-link body">
                <div class="_ds-link title">Modifier</div>
              </div>
              <div class="_ds-link action-icon">
                <i class="bi bi-chevron-right"></i>
              </div>
            </a>
            <!-- <a alt="Modifier" class="ds-link" href="/chataigniers">
              <div class="_ds-link body">
                <div class="_ds-link title">Modifier</div>
              </div>
              <div class="_ds-link action-icon">
                <i class="bi bi-chevron-right"></i>
              </div>
            </a>
            <a alt="Modifier" class="ds-link" href="/chataigniers">
              <div class="_ds-link body">
                <div class="_ds-link title">Modifier</div>
              </div>
              <div class="_ds-link action-icon">
                <i class="bi bi-chevron-right"></i>
              </div>
            </a> -->
          </div>
        </div>
      </div>
    </div>
    <div class="ds-background z-index-low" id="ds-background"></div>
    <script src="https://ds.digitalleman.com/index.js"></script>
  </body>
</html>